/*--------------------------------------------------------------------------------- PRELIM*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*--------------------------------------------------------------------------------- GLOBAL*/
body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   box-sizing: border-box;

   font-family: 'IBM Plex Mono', monospace;
   
   background: rgb(229, 243, 165);
   background: radial-gradient(circle, rgba(111, 188, 233, 0.2) 0%, rgba(234, 154, 236, .3) 100%);
}

h1 {
   font-size: 4rem;
   padding: 1rem;
   text-shadow: 1px 1px 1px black;
}

h2 {
   font-size: 1.5rem;
   margin: .5rem 0 .75rem 0;
}

#input_nums {
   font-size: 2rem;
}

@media screen and (max-width: 800px) {
   h1 {
      font-size: 2rem
   }
   #input_nums {
      font-size: 1rem;
   }
 }
 



/*--------------------------------------------------------------------------------- DATA DISPLAY */
main {
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 2rem;
   margin: 1rem;
   width: 50%;

   border-radius: 2rem;
   border: 2px solid rgb(159, 160, 255);
   box-shadow: 5px 8px 8px rgb(75, 75, 75);
   background: rgb(151,157,121);
   background: linear-gradient(170deg, rgba(151,157,121,.3) 0%, rgba(68,125,138,.3) 39%, rgba(49,33,80,.27) 59%, rgba(104,102,106,.27) 100%);
}

.operation {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: .5rem;
   padding: 1rem;

   border-radius: .5rem;
   border: 2px solid rgb(159, 160, 255);
   background: rgb(255,255,255);
   background: linear-gradient(42deg, rgba(245,245,245,1) 0%, rgba(177,214,215,0.5) 100%); 
   font-size: 1.5rem;
 }

.operation h3, p {
   margin: .25rem;
 }
